# CONFIG_ATH11K_NSS_SUPPORT is not set
# CONFIG_PACKAGE_kmod-qca-nss-dp is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv is not set
# CONFIG_PACKAGE_kmod-qca-nss-ecm is not set
# CONFIG_PACKAGE_kmod-qca-nss-crypto is not set
# CONFIG_PACKAGE_nss-firmware-ipq60xx is not set
# CONFIG_KERNEL_NF_CONNTRACK_DSCPREMARK_EXT is not set
